$main-background-color: #ffffff;
$font-color: #3c3c3c;
$border-grey: rgb(244, 244, 244);
$grey: rgb(187, 187, 187);
$transparent-green: rgba(8, 164, 146, 0.1);
$transparent-green-hover: rgba(8, 164, 81, 0.162);
$green: rgb(3, 152, 122);
$online-person-outline: rgb(10, 165, 167);
$offline-red: rgb(223, 7, 7);
$online-green: rgb(0, 208, 0);
$chat-background: rgba(222, 232, 231, 0.705);
$chat-grey: rgb(169, 206, 203);
$very-light-blue: #eef6fa;
$images-file-color: rgba(100, 1, 167, 0.151);
$images-file-icon-color: rgb(101, 1, 167);
$videos-file-color: rgba(223, 220, 0, 0.151);
$videos-file-icon-color: rgb(230, 226, 33);
$gifs-file-color: rgba(0, 223, 41, 0.151);
$gifs-file-icon-color: rgb(43, 230, 33);
$pdf-file-color: rgba(223, 0, 0, 0.151);
$pdf-file-icon-color: rgb(230, 39, 33);
$others-file-color: rgba(11, 0, 223, 0.151);
$others-file-icon-color: rgb(46, 33, 230);