@mixin centerElement(){
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin beetwenElement(){
    display: flex;
    align-items: center;
    justify-content: space-between;
}